/* Material2 */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/* Dragula */
@import "~dragula/dist/dragula.css";

body {
    margin: 0;
}

/* Permanent toolbar and content scrollable */

app-root > mat-toolbar {
    position: fixed;
    z-index: 2;
}

.mat-sidenav-container[fullscreen] {
    top: 64px !important;
}
