/* Material2 */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/* Dragula */
@import "../node_modules/dragula/dist/dragula.css";

body {
    margin: 0;
}

/* Permanent toolbar and content scrollable */

app-root > md-toolbar {
    position: fixed;
    z-index: 2;
}

.mat-sidenav-container[fullscreen] {
    top: 64px !important;
}
